<!-- BEGIN wrapper -->
<section class="entryForm">
     <div id="wrapper">
        <h1>Option B</h1>
        <form role="form">
            <div class="form-group">
            <label for="exampleInputPassword1">Desired Cover Amount</label>
            <input type="number" class="form-control" id="desiredCoverAmount" min="0" size="2" pattern="^\d+(\.|\,)\d{2}$" placeholder="$" ng-model="details.desiredCoverAmount">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Date of Birth</label>
            <input type="text" class="form-control" id="dob" placeholder="DD/MM/YYYY" ng-model="details.dob">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Are you a smoker?</label>
            <div class="radio">
              <label>
                <input type="radio" name="smoker" id="male" value="true" ng-model="details.smoker">
                Yes
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="smoker" id="female" value="false" ng-model="details.smoker">
                No
              </label>
            </div>
          </div><div class="form-group">
            <label for="exampleInputEmail1">Please input your gender</label>
            <div class="radio">
              <label>
                <input type="radio" name="gender" id="male" value="male" ng-model="details.gender">
                Male
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="gender" id="female" value="female" ng-model="details.gender">
                Female
              </label>
            </div>
          </div>
          
          
          <a class="btn-standard" href="#/option-B-summary">Next &gt; </a>
        </form>
    </div>
</section>
<!-- END wrapper -->