/* app css stylesheet */

body {
    padding-top: 20px;
}



#wrapper {
    display: block;
    width: 400px;
    margin: 0 auto;
    /*margin-top: 200px;*/
    margin-bottom: 3%;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
}

#wrapper h1 {
    background: #4A90E2;
    padding: 18px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: 0;

}

form {
    padding: 5% 5% 2% 5%;
    background: #f0f0f0;

}

input {
    display: block;
    padding: 2%;
    font-size: 14px;
    /*margin: 5px auto;*/
}
input:hover {
    border: 1px solid #333;
}
input[type="email"], input[type="password"] {
    width: 95%;
    height: 30px;
    border: 1px solid #C0DEED;
    font-weight: 300;
}

input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
}

.call-to-action {
    text-align: center;
}

.btn-standard {
    display: inline-block;
    padding: 10px;
    border: 1px solid #C0DEED;
    background-color: #fefefe;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    width: 90px;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    /* ...and now for the proper property */
    transition:.2s;
    text-align: center;
}
.btn-standard + .action {
    background-color: #dff0d8;
    color: #333;
}
.btn-standard:hover {
    background: #4A90E2;
    color: #fefefe;
    text-decoration: none;
}
.action:hover {
    background-color: #9FB775;
    color: #fff;
}










